<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <script src="/static/plugins/layui/layui.js"></script>

</head>
<body style="background: #1e9fff">
<H1>
    后台登录

</H1>

<div style="position: absolute; left: 50%;top: 50%; width: 500px; margin-left: -250px;margin-top: -200px">
    <div style="background: #FFFFFF;padding: 20px;border-radius: 4px;box-shadow: 5px 5px 20px #444444;">

        <div class="layui-form">
            <div class="layui-form-item" style="color: gray;">
                <H2>
                    后台管理系统
                </H2>
            </div>
            <hr>
            <div class="layui-form-item">
                <label class="layui-form-label"> 用户名:</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="username">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"> 密 码:</label>
                <div class="layui-input-block">
                    <input type="password" class="layui-input" id="password">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"> 验证码:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="verifycode">
                </div>
                <img id="img"  onclick="readloadimg()" src="{:captcha_src()}">

            </div>
            <div class="layui-form-item">

                <div class="layui-input-block">
                    <button class="layui-btn" onclick="dologin()">登录</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['layer'], function () {
        $ = layui.jquery;
        layer = layui.layer;

        $('#username').focus();
        //回车提交
        $('input').keydown(function (e) {
            if (e.keyCode == 13) {
                dologin();
            }
        });



    });
    //验证码刷新
    function readloadimg() {
        $('#img').attr('src','{:captcha_src()}?rand='+Math.random())
    }

    function dologin() {

        var username = $.trim($('#username').val());
        var pwd = $.trim($('#password').val());
        var verifycode = $.trim($('#verifycode').val());
        if (username == '') {
            layer.alert('请输入用户名', {icon: 2});
            return;
        }
        if (pwd == '') {
            layer.alert('请输入密码', {icon: 2});
            return;
        }
        if (verifycode == '') {
            layer.alert('请输入验证码', {icon: 2});
            return;
        }
        $.post('/index.php/admins/Account/dologin', {
            'username': username,
            'pwd': pwd,
            'verifycode': verifycode
        }, function (res) {
            if (res.code > 0) {
                layer.alert(res.msg, {icon: 2});
            } else {

                layer.alert(res.msg);
                setTimeout(function () {
                    window.location.href = '/index.php/admins/Home/index'
                }, 1000)
            }
        }, 'json')
    }

</script>


</body>
</html>